
.cor{
   background-color: #696663;
}

.sitetopo a h4{
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 1.2em;
}

.sitetopo a h5{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.6em;
}


.logo{
    position: fixed;
    padding-left: 5%;
    padding-top: 22px;
    text-align: center;
}


.imagem {
  position: relative;
}
.capa {
  display: none;
}

.imagem a h1{
    font-size: 2.6em;
    font-family: 'Pattaya', sans-serif; 
    color: #fdff84;
    margin-top: 25.4%;
}

.imagem:hover .capa {
  display: block;
        transition: 10s;
}

.capa {
  align-items: baseline;
  text-align: center;
  color: white;
  background-color: #000000cf;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.capa p{
    font-size: 1.2em;
    font-family: 'Quicksand', sans-serif;
    margin-top: 5px;
}

.contprod div img {
    width: 100%;
    filter: contrast(0.9);
}

.contprod{
    display: flex;
}

.faixaprod{
    background-color: #261704;
    text-align: center;
    padding: 2.1%;
    margin-bottom: 2px
}

.faixaprod h1{
    font-family: 'Pattaya', sans-serif;
    color: #bcac99;
    font-size:4em
}

.faixaprod p{
    font-size: 1.2em;
    font-family: 'Quicksand', sans-serif;
    color:white;
}
/*sobre*/
.sobre{
    padding-top: 70px;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding-bottom: 100px;
    padding-left: 20%;
    align-items: center;
}

.contsobre{
   width: 40%;
    
}
@media (min-width:768px){
    .aparecer{
        display: none;
    }
}
.contsobre p{
    font-size: 1.2em;
    line-height: 1.6;
}

.contsobre h1{
    font-size:2em; 
    margin-bottom: 10px;
}


.imgsobre{
    width:100%;
}

.containerimg{
    margin-left: 5%;
    width:25%;
}

@media (max-width:750px){

 .sitetopo ul {
    flex-direction: column;
    }
    .containerimg {
    width: 50%;
}
    
    .capa {
        display: block;
}

    .sobre {
    padding-left: 8%;
    
}
    .contsobre {
    width: 60%;
}
    
}
@media (max-width:649px){
    .contprod {
    flex-direction: column;
}
}

@media (max-width:430px){
    
    .imagem a h1 {
        font-size: 2.1em;

}
   
    .capa p {
        font-size: 1em;
    
    }
    
    .faixaprod h1 {
        font-size: 3.2em;
}
    
    .sitetopo{    
        z-index: 4;
    }

    
    .contsobre {
    width: 80%;
}
    .sobre {
        padding-left:0px;
    flex-direction: column;
}
    
    .containerimg {
        display:none;
}
    
    .contprod {
    flex-direction: column;
}
    
    .capa {
  display: block;
}

    .imagem {
    margin-bottom: 2px;
    
    }
}

body {
  max-width: 1920px;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  height: 111px;
  background-color: #6f0e0e;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 99;
}
.header ul li a{
    font-family: 'Quicksand', sans-serif;
    
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
   color: #acacac;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 27px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  background-color: #6f0e0e;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 54.3px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 400px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.menu-icon{
    
    padding-right: 20px;
}
@media (min-width:768px){
    .header .menu {
        margin-top: 28px;
    
    }
}
    

/*ComeÃƒÂ§o contato*/
.contato {
        justify-content: center;
  margin-top: 2%;
  display: flex;
  /* justify-content: center; */
}

.contato article img {
    width: 100%;
    border-radius: 10px 2px 2px 10px;
    border: solid 1px;
    border: #d4d4d4;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='tel'],
.form textarea {
  font-family: 'Quicksand',;
  background: #943939;
  border: solid 1px #928282;
  width: 94%;
  padding: 2%;
  color: white;
  margin-bottom: 2%;
  border-radius: 5px;
  /* box-shadow: 5px 5px rgba(13, 13, 13, 0.1); */
}
.form input::-webkit-input-placeholder {
   color: white;
    opacity: 60%;
    font-family: 'Quicksand', sans-serif;
}

.form textarea {
  resize: none;
  
}
.form textarea::-webkit-input-placeholder {
   color: white;
   opacity: 60%;
   font-family: 'Quicksand', sans-serif;
}
.form input[type='submit'] {
  float: right;
  background: #7b3333;
  color: #ffffff;
  border: solid 1px black;
  padding: 2% 10%;
  cursor: pointer;
  border-radius: 5px;
  /* margin-right: -4.5%; */
  margin-right: 2%;
}

.form input[type='submit']:hover {
  background: #ffffff;
  color: #821515;
  border: solid 2px #821515;
}

.contato article:nth-child(1){
    width: 30%;
}

.contato article:nth-child(2) {
  width: 30%;
  padding-left: 0.7%;
  padding-right: px;
  background-color: #943939;
  margin-bottom: 4px;
  border: solid 2px #d4d4d4;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}
.contato article h2{
    color: #eacccc;
    padding: 6%;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.2em;
    text-align: center;
}

@media(max-width:550px){
    .contato article:nth-child(1) {
    display: none;
}
    .contato article:nth-child(2) {
    width: 90%;
    border: solid 2px #d4d4d4;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
        border-radius: 5px;
    }
    
    
    .form input[type='submit'] {
    margin-top: 10px;
    margin-bottom: 20px;
    
    }
    
}

.slick-prev {
    left: 1px;
    z-index: 1;
}
.slick-next {
    right: 1px;
}
@media(max-width:750px){
    .single-item{
        display: none;
    }
}

@media(min-width:750px){
    .fade{
        display: none
    }
}

@media(max-width:750px){
    .autoplay{
        display: none;
    }
}

.slick-dots {
    display: none;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

@media(max-width:750px){
	
	.imagem a h1 {
    font-size: 2em;
}
	
	.capa p {
    font-size: 0.9em;
}
	
	.faixaprod p {
    font-size: 1.1em;
    font-family: 'Quicksand', sans-serif;
    padding-top: 10px;
}
	.faixaprod {
    padding: 6.1%;
}
}